@tailwind base;
@tailwind components;
@tailwind utilities;

.menu-animation {
    animation: animatedMenu 1s ease-in infinite alternate;
}

.modal-styles {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.remove {
    transform: translate(-100%);
}

@keyframes animatedMenu {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(2);
    }
    
}