@tailwind base;
@tailwind components;
@tailwind utilities;


.nav-link {
    padding: .5rem 1rem;
    transition: all 300ms ease-in;
    border-radius: 7px;
}

.nav-link-light:hover {
    background-color: hsl(214deg 30% 32% / 10%);
}

.nav-link-light:active {
    background-color: #021431;
    color: #C7C9D1;
}

.nav-link-dark:hover {
    background-color: #414558;
}

.nav-link-light:active {
    background-color: #414558;
    color: #C7C9D1;
}