@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-link {
    padding: .5rem 1rem;
    transition: all 300ms ease-in;
    border-radius: 7px;
}

.nav-link-light:hover {
    background-color: hsl(214deg 30% 32% / 10%);
}

.nav-link-light:active {
    background-color: #021431;
    color: #C7C9D1;
}

.nav-link-dark:hover {
    background-color: #414558;
}

.nav-link-light:active {
    background-color: #414558;
    color: #C7C9D1;
}

.featured-products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 3.5rem 3.5rem; 
}

.mobile-nav {
    font-size: 2rem;
    border-radius: 10px;
    cursor: pointer;
    padding: 1rem;
    border: 2px solid transparent;
    transition: all 400ms linear;
}

.select-inputs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
}

.price-input {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background-color: transparent;
    outline: none;
    border-radius: 15px;
    overflow: hidden;
}

.price-input-dark::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #FF7AC6;
    border: 4px solid #333;
    box-shadow: -407px 0 0 400px #FF7AC6;
}

.price-input-light::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #057AFF;
    border: 4px solid white;
    box-shadow: -407px 0 0 400px #057AFF;
}

.dark {
    background-color: #FF7AC6;
    border: 4px solid #333;
    box-shadow: -407px 0 0 400px #FF7AC6;
}

.light {
    background-color: #057AFF;
    border: 4px solid white;
    box-shadow: -407px 0 0 400px #057AFF;
}